# Exclude class files #
*.class

# Package Files #
build/*.jar
bin/*.jar
*.war
*.ear

# netbeans ignore personal stuff #
nbproject/private/
build/
dist/

# generic files to ignore #
*~
*.lock
*.DS_Store
*.DS_Store?
*.swp
*.out

# Test CFI folders
/bulk/*
/log/*

# Especific for voipcarrier
config.xml
